//Nextflow config file for running on AWS batch
params {
  awsqueue = false
  awsregion = false
  awsbatchexecutionrole = false
  awscli = '/home/ec2-user/miniconda/bin/aws'
}

timeline {
  overwrite = true
}
report {
  overwrite = true
}
trace {
  overwrite = true
}
dag {
  overwrite = true
}

process {
  executor = 'awsbatch'
  queue = params.awsqueue
  resourceLabels = [owner:'santiago', project:'test-tagging']
  scratch = false
}

aws {
  region = params.awsregion
  client {
    uploadChunkSize = 10485760
  }
  batch {
    executionRole = params.awsbatchexecutionrole
    cliPath = params.awscli
  }
}
